{
  "{*,src/*,src/**/*}.{jsx,js}": ["prettier --write", "eslint --fix"],
  "{*,src/*,src/**/*}.json": ["prettier --write"],
  "{*,src/*,src/**/*}.{html,scss,css}": ["prettier --write", "stylelint --fix"]
}
