.container {
  cursor: pointer;
}

.magicBar {
  background: linear-gradient(135deg, #076eff 30%, #ac87eb, #ee4d5d);
  background-clip: text;
  font-size: 3rem;
  -webkit-text-fill-color: transparent;

  :global {
    animation: tada 3s ease-in-out infinite;
    animation-delay: 0s, 2s;
  }
}
